@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

:root {
  --first-color: #f9f7f7;
  --second-color: #dbe2ef;
  --third-color: #3f72af;
  --fourth-color: #112d4e;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

.custom-container {
  text-align: center; /* Center align content inside the container */
}

.error-status {
  font-size: 4rem;
}

.error-message {
  font-size: 1.5rem;
}
