@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

:root {
  --first-color: #f9f7f7;
  --second-color: #dbe2ef;
  --third-color: #3f72af;
  --fourth-color: #112d4e;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Navbar Styles */
.custom-navbar {
  background-color: var(--fourth-color);
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: block;
}

.toggle-password {
  margin-top: -5px;
  margin-left: 5px;
}

.navbar-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 40px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.logout {
  border-radius: 30px !important; /* Makes the button round */
}

.fa-house {
  color: white !important; /* Set the color of the icon */
}

.navbar-text {
  margin-left: 40px;
  font-size: 1rem;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

/* Container and form-control */
.container {
  min-width: 65%;
  max-width: fit-content;
  margin: 120px auto 80px !important; /* Center the container horizontally */
}

.profile-header {
  background-color: var(--fourth-color);
  border-radius: inherit;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--third-color);
}

.profile-button {
  background: var(--fourth-color);
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: none;
  border: none;
}

/* Nav tabs style */
.nav-link-custom {
  color: white; /* Change 'red' to the desired color */
}

.nav-link-custom:hover {
  color: white; /* Change 'red' to the desired color */
}

.profile-button:hover,
.profile-button:focus {
  background: #255a83;
  box-shadow: none;
}

.profile-button:active {
  background: #19405e !important;
  box-shadow: none;
}

input[readonly] {
  cursor: not-allowed; /* Change cursor style to indicate non-editable */
}

.pass-btn {
  width: 200px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the button horizontally */
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 65px;
  background: var(--fourth-color);
}

#left-column {
  flex: 1;
  text-align: left;
  padding-left: 60px;
}

#copyright {
  font-style: normal;
  font-size: 10px;
  line-height: normal;
  color: #fff;
  padding-top: 10px;
}

#right-column {
  flex: 1;
  text-align: right;
  padding-right: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.uploaded-image {
  width: 100%;
  max-height: 300px; /* Adjust the maximum height for the signature image as needed */
  object-fit: contain;
  height: auto;
}
