@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

:root {
  --first-color: #f9f7f7;
  --second-color: #dbe2ef;
  --third-color: #3f72af;
  --fourth-color: #112d4e;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Navbar Styles */
.custom-navbar {
  background-color: var(--fourth-color);
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: block;
}

.custom-btn,
.droptown-toggle {
  border: 1px solid white;
  background-color: var(--fourth-color);
}

.navbar-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 40px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.navbar-text {
  margin-left: 40px;
  font-size: 1rem;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.dropdown-item:hover {
  color: initial;
}

.container {
  margin-top: 100px !important;
  min-width: 700px; /* Adjust the width as needed (e.g., 700px, 800px) */
  max-width: fit-content;
  margin: 0 auto; /* Center the container horizontally */
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--third-color);
}

.profile-button {
  background: var(--fourth-color);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: var(--fourth-color);
}

.profile-button:focus {
  background: var(--fourth-color);
  box-shadow: none;
}

.profile-button:active {
  background: var(--fourth-color);
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

/* Pop up Change Password Form */
/* .btn-open-popup {
  padding: 12px 24px;
  font-size: 18px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-open-popup:hover {
  background-color: #4caf50;
} */

.overlay-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup-box {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 320px;
  text-align: center;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInUp 0.5s ease-out forwards;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
  text-align: left;
}

.form-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[readonly] {
  cursor: not-allowed; /* Change cursor style to indicate non-editable */
}

.btn-submit,
.btn-close-popup {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit {
  background-color: green;
  color: #fff;
}

.btn-close-popup {
  margin-top: 12px;
  background-color: #e74c3c;
  color: #fff;
}

.btn-submit:hover,
.btn-close-popup:hover {
  background-color: #4caf50;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for popup */
.overlay-container.show {
  display: flex;
  opacity: 1;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Example background color */
  color: white; /* Example text color */
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 65px;
  background: var(--fourth-color);
}

#left-column {
  flex: 1;
  text-align: left;
  padding-left: 60px;
}

#copyright {
  font-style: normal;
  font-size: 10px;
  line-height: normal;
  color: #fff;
  padding-top: 10px;
}

#right-column {
  flex: 1;
  text-align: right;
  padding-right: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
