:root {
  --first-color: #f9f7f7;

  --second-color: #dbe2ef;

  --third-color: #3f72af;

  --fourth-color: #112d4e;
}

body {
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Navbar Styles */
.custom-navbar {
  background-color: var(--fourth-color);
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: block;
}

.custom-btn,
.droptown-toggle {
  border: 1px solid white;
  background-color: var(--fourth-color);
}

.navbar-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 40px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.navbar-text {
  margin-left: 40px;
  font-size: 1rem;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.dropdown-item:hover {
  color: initial;
}

.heading-text {
  text-align: center;
  margin-top: 150px;
  margin-right: 55%;
  display: block;
  color: var(--fourth-color);
}

.page-divider {
  margin: 0 calc(25% + (-190px)); /* Adjust as needed */
  border: none;
  border-top: 1px solid rgb(0, 0, 0); /* Example border style */
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  margin-top: 70px;
}

.card {
  flex: 0 0 auto; /* Prevent the cards from growing */
  margin-bottom: 15px; /* Add some bottom margin between cards */
  margin-right: 15px; /* Add some right margin between cards */
  min-width: calc(
    50% - 220px
  ); /* Adjust the width to show only two cards per row */
  cursor: pointer;
}

.custom-card {
  background-color: var(--fourth-color); /* Coral color */
  color: #fff; /* White text color */
}

.card-title {
  /* color: #ff7c41; */
  color: var(--fourth-color);
}

.card-body {
  margin: 0;
  padding: 10px;
  /* background-color: var(--fourth-color); */
}

.card-img-top {
  height: 200px; /* Set the desired height */
  width: 100%; /* Ensure the image takes up the full width of its container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.box {
  margin: 10px;
}
@media (max-width: 767.98px) {
  .card {
    width: calc(
      50% - 30px
    ); /* Adjust the width of each card for smaller screens */
  }
}

@media (max-width: 575.98px) {
  .card {
    width: calc(
      100% - 30px
    ); /* Adjust the width of each card for even smaller screens */
    margin-right: 0; /* Remove right margin for cards on smaller screens */
  }
}
