@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

:root {
  --first-color: #f9f7f7;
  --second-color: #dbe2ef;
  --third-color: #3f72af;
  --fourth-color: #112d4e;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Navbar Styles */
.custom-navbar {
  background-color: var(--fourth-color);
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: block;
}

.custom-btn,
.droptown-toggle {
  border: 1px solid white;
  background-color: var(--fourth-color);
}

.navbar-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.bar {
  margin-left: 40px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.navbar-text {
  margin-left: 40px;
  font-size: 1rem;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.dropdown-item:hover {
  color: initial;
}

.heading-text {
  text-align: center;
  margin-top: 150px;
  margin-right: 60%;
  display: block;
  color: var(--fourth-color);
}

.page-divider {
  margin: 0 auto; /* Center the divider horizontally */
  max-width: 82%; /* Set a maximum width for the divider */
  border: none;
  border-top: 1px solid rgb(0, 0, 0); /* Example border style */
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if necessary */
  justify-content: center; /* Center align the buttons horizontally */
  gap: 10px; /* Adjust spacing between buttons */
}

.btn {
  flex-basis: calc(50% - 5px); /* Adjust button width */
}
/*! Scrollable class to enable scrolling within each accordion if there are many buttons */
.scrollable {
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Accordion */
.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.accordion {
  width: 75%;
  background: transparent;
}

.accordion-item {
  background: var(--fourth-color);
  color: white;
  border: none;
  box-shadow: 2px 2px 8px rgba(141, 141, 141, 0.1),
    -2px -2px 8px rgba(141, 141, 141, 0.1);
}

.accordion-body {
  background: var(--fourth-color);
  color: white;
  font-size: 0.7rem;
}

.accordion-button {
  font-size: 0.9rem;
  background: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 500;
}

.accordion-button:focus {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.accordion-button:not(.collapsed) {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  box-shadow: none;
}

.accordion-button::after {
  background-image: none;
  content: "\f0d7";
  font-family: fontawesome;
  color: white;
  width: auto;
  height: auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-item:last-child {
  margin-bottom: 100px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Example background color */
  color: white; /* Example text color */
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 65px;
  background: var(--fourth-color);
}

#left-column {
  flex: 1;
  text-align: left;
  padding-left: 60px;
}

#copyright {
  font-style: normal;
  font-size: 10px;
  line-height: normal;
  color: #fff;
  padding-top: 10px;
}

#right-column {
  flex: 1;
  text-align: right;
  padding-right: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
