@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

:root {
  --first-color: #f9f7f7;
  --second-color: #dbe2ef;
  --third-color: #3f72af;
  --fourth-color: #112d4e;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--first-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  min-width: 500px; /* Adjust the width as needed (e.g., 700px, 800px) */
  max-width: 50%;
  margin: 20px auto !important; /* Center the container horizontally */
}

.logo {
  max-width: 22%;
  height: auto;
}

/* Circle background behind icon */
.circle-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%; /* This makes the background circular */
}

.stripe {
  background-color: var(
    --fourth-color
  ); /* Specify your desired background color */
  padding: 10px 0; /* Add padding as needed */
}

.envelope-logo {
  font-size: 55px; /* Adjust the size of the envelope icon */
  color: var(--fourth-color); /* Set the color of the icon */
}

.instruction {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.6;
}

.verify-email-btn {
  background-color: var(--fourth-color);
  border-color: var(
    --fourth-color
  ); /* Adjust border color to match background */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(var(--fourth-color), 0.5); /* Simulate hover effect */
  color: #fff; /* Set text color to white for readability */
}

.verify-email-btn:hover,
.verify-email-btn:active {
  background-color: #18406f; /* Darken on hover */
  color: white;
}

.verify-email-btn:focus,
.verify-email-btn.focus {
  outline: 0;
  background-color: #18406f; /* Darken on hover */
}

/* Circle background behind icon End */

.line {
  border-bottom: 1px solid var(--fourth-color); /* Adjust thickness and color as needed */
  margin: 0 auto;
  max-width: 80%;
}

.location {
  color: rgba(128, 128, 128, 0.8);
}

a {
  text-decoration: none;
  color: inherit;
}
